In [1]:
from pyspark.sql import SparkSession

In [4]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [5]:
spark

In [7]:
df_pyspark=spark.read.option('header','true').csv('test1.csv',inferSchema=True)

In [11]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [13]:
df_psypark=spark.read.csv('test1.csv',header=True,inferSchema=True)

In [14]:
df_psypark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [15]:
df_pyspark.columns

['Name', 'age', 'Experience', 'Salary']

In [16]:
df_pyspark.head(3)

[Row(Name='Krish', age=31, Experience=10, Salary=30000),
 Row(Name='Sudhanshu', age=30, Experience=8, Salary=25000),
 Row(Name='Sunny', age=29, Experience=4, Salary=20000)]

In [19]:
df_pyspark.select('Name')
#if i want to see more than 1 column i use a list
df_pyspark.select(['Name','Experience']).show()

+---------+----------+
|     Name|Experience|
+---------+----------+
|    Krish|        10|
|Sudhanshu|         8|
|    Sunny|         4|
|     Paul|         3|
|   Harsha|         1|
|  Shubham|         2|
+---------+----------+

In [21]:
df_pyspark['Name'].show()

TypeError: 'Column' object is not callable

In [23]:
df_pyspark.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int'), ('Salary', 'int')]

In [26]:
df_pyspark.describe().show()

+-------+------+------------------+-----------------+------------------+
|summary|  Name|               age|       Experience|            Salary|
+-------+------+------------------+-----------------+------------------+
|  count|     6|                 6|                6|                 6|
|   mean|  NULL|26.333333333333332|4.666666666666667|21333.333333333332|
| stddev|  NULL| 4.179314138308661|3.559026084010437| 5354.126134736337|
|    min|Harsha|                21|                1|             15000|
|    max| Sunny|                31|               10|             30000|
+-------+------+------------------+-----------------+------------------+

In [30]:
df_pyspark=df_pyspark.withColumn('Experience after 2 years',df_pyspark['Experience']+2)

In [31]:
df_pyspark.show()

+---------+---+----------+------+------------------------+
|     Name|age|Experience|Salary|Experience after 2 years|
+---------+---+----------+------+------------------------+
|    Krish| 31|        10| 30000|                      12|
|Sudhanshu| 30|         8| 25000|                      10|
|    Sunny| 29|         4| 20000|                       6|
|     Paul| 24|         3| 20000|                       5|
|   Harsha| 21|         1| 15000|                       3|
|  Shubham| 23|         2| 18000|                       4|
+---------+---+----------+------+------------------------+

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('DataFrame').getOrCreate()

In [3]:
spark

In [5]:
df_pyspark=spark.read.csv('test1.csv',header=True,inferSchema=True)

In [8]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [10]:
df_pyspark.select(['Name','Experience']).show()

+---------+----------+
|     Name|Experience|
+---------+----------+
|    Krish|        10|
|Sudhanshu|         8|
|    Sunny|         4|
|     Paul|         3|
|   Harsha|         1|
|  Shubham|         2|
+---------+----------+

In [11]:
df_pyspark.describe().show()

+-------+------+------------------+-----------------+------------------+
|summary|  Name|               age|       Experience|            Salary|
+-------+------+------------------+-----------------+------------------+
|  count|     6|                 6|                6|                 6|
|   mean|  NULL|26.333333333333332|4.666666666666667|21333.333333333332|
| stddev|  NULL| 4.179314138308661|3.559026084010437| 5354.126134736337|
|    min|Harsha|                21|                1|             15000|
|    max| Sunny|                31|               10|             30000|
+-------+------+------------------+-----------------+------------------+

In [12]:
df_pyspark=df_pyspark.withColumn('Age',df_pyspark['Age']+2)

In [13]:
df_pyspark.show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 33|        10| 30000|
|Sudhanshu| 32|         8| 25000|
|    Sunny| 31|         4| 20000|
|     Paul| 26|         3| 20000|
|   Harsha| 23|         1| 15000|
|  Shubham| 25|         2| 18000|
+---------+---+----------+------+

In [15]:
df_pyspark=df_pyspark.withColumn('Experience after 2 years',df_pyspark['Experience']+2)

In [16]:
df_pyspark.show()

+---------+---+----------+------+------------------------+
|     Name|Age|Experience|Salary|Experience after 2 years|
+---------+---+----------+------+------------------------+
|    Krish| 33|        10| 30000|                      12|
|Sudhanshu| 32|         8| 25000|                      10|
|    Sunny| 31|         4| 20000|                       6|
|     Paul| 26|         3| 20000|                       5|
|   Harsha| 23|         1| 15000|                       3|
|  Shubham| 25|         2| 18000|                       4|
+---------+---+----------+------+------------------------+

In [17]:
df_pyspark=df_pyspark.drop('Experience after 2 years')

In [18]:
df_pyspark.withColumnRenamed('Name','New Name').show()

+---------+---+----------+------+
| New Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 33|        10| 30000|
|Sudhanshu| 32|         8| 25000|
|    Sunny| 31|         4| 20000|
|     Paul| 26|         3| 20000|
|   Harsha| 23|         1| 15000|
|  Shubham| 25|         2| 18000|
+---------+---+----------+------+